<h1>New Discount</h1>
<%= form_tag "/merchant/discounts" do %>
  <%= label_tag :discount_percentage %>
  <%= number_field_tag :discount_percentage %>

  <%= label_tag :minimum_quantity %>
  <%= number_field_tag :minimum_quantity %>

  <%= submit_tag 'Create Discount' %>
<% end %>
